.navbar {
    background: rgb(43, 182, 43);
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 20px;
}

#weather {
    border: 1px solid rgb(231, 231, 231);
    margin-right: 15px;
}

#profile {
    color: white;
}

.bigImage {
    height: 550px;
}

.row {
    margin: 10px;
}

#signInBox {
    padding: 40px;
    background: rgb(226, 225, 225);
    border: 2px solid rgb(201, 200, 200);
}

#sign {
    height: 100%;
}

form {
    background: white;
    padding: 20px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
}