.navbar {
    background: rgb(43, 182, 43);
    padding-left: 15%;
    padding-right: 15%;
}

#weather {
    font-family: 'Oswald', sans-serif;
    border-radius: 7px;
    background: rgb(40, 143, 41);
    border: 1.5px solid rgb(39, 134, 42);
    margin-right: 15px;
    padding: 5px;
    color: white;
}

#profile {
    color: white;
}


.row {
    margin-top: 10px;
}

#signInBox {
    padding: 50px 20px;
    background: rgb(223, 240, 243);
    border: 2px solid rgb(221, 221, 221);
}

#signUpBox, #sign {
    margin: 10px auto;
}

#sign {
    height: 100%;
}

.card  {
    font-family: 'Oswald', sans-serif;
}

form {
    background: white;
    padding: 20px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
}

.card-deck {
    margin-top: 20px;
}

.venImg {
    color: white;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: white;
}

#titleCard {
    margin: 18% 10%;
    padding: 3%;
    border: 5px solid white;
    border-radius: 5px;
    font-size: 175%;
}

#homeTitle {
    margin: 18% 10%;
    padding: 3%;
    font-size: 175%;
}

#venPageTitle {
    font-size: 225%;
    font-weight: bold;
}

.btn {
    background-color: #34B436;
    outline-color: #34B436;
    outline-offset: none;
    float: right;
}

.btn:hover {
    background-color: #34B436;
}

.map1 {
    margin-left: auto;
    margin-right: auto;
}

.map2 {
    float: right;

}
.map3 {
    float: right;
    
}
.map4 {
    float: right;
}
