.navbar {
    background: rgb(43, 182, 43);
    padding-left: 15%;
    padding-right: 15%;
}

#weather {
    border: 1px solid rgb(231, 231, 231);
    margin-right: 15px;
}

#profile {
    color: white;
}

.bigImage {
    height: 600px;
}

.row {
    margin: 10px;
}

#signInBox {
    padding: 50px 0px;
    background: rgb(223, 223, 223);
    border: 2px solid rgb(201, 200, 200);
}

#signUpBox, #sign {
    margin-right: 10px;
}

#sign {
    height: 100%;
}

form {
    background: white;
    padding: 20px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
}

.card-deck {
    margin-top: 20px;
}

.venImg {
    color: white;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    font-family: 'Kaushan Script', cursive;
    font-size: 175%;
    text-align: center;
}

#titleCard {
    margin: 18% 10%;
    padding: 3%;
    border: 5px solid white;
    border-radius: 5px;
}

#venPageTitle {
    font-size: 200%;
    font-weight: bold;
}